:root {
  --white: #fff;
  --button-color: #1f88ff;
}

body {margin: 0;}

.nav-section {
  background-image: url("/assets/piqsels.com-id-jzveu.jpg");
  height: 45rem;
  color: white;
}
.ul-defaults-none {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.ul-defaults-none li a {text-decoration: none;}

.nav-item {
  cursor: pointer;
  font-size: 22px;
}
.nav-item a {color: white;}

.ul-defaults-none li {
  margin-right: 16px;
  line-height: 3;
}

.btn {
  background-color: var(--button-color);
  color: var(--white);
  padding: 1rem 1rem;
  border-radius: 25px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.about-btn {border: none;}